<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>产品详情</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute">
    <div class="text-white d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>产品详情</span>
        <a href="auth/login.html">
            <i class="fa fa-fw fa-user"></i>
            <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
        </a>
    </div>
</header>

<div id="banner" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#banner" data-slide-to="0" class="active"></li>
        <li data-target="#banner" data-slide-to="1"></li>
        <li data-target="#banner" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="holder.js/100px220" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="holder.js/100px220" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="holder.js/100px220" alt="Third slide">
        </div>
    </div>
</div>

<div class="p-4">
    <h5 class="text-truncate left-border-orange">成都4天3晚跟团游行蜜月之旅</h5>
    <div class="mb-1">
        <span class="badge badge-danger">优惠</span>
        <span class="badge badge-warning">纯玩</span>
        <span class="text-warning ml-2"><i class="fa fa-fw fa-map-marker-alt"></i>成都出发</span>
    </div>
    <div class="mb-1 d-flex justify-content-between">
        <span>产品编号：2598487</span>
        <small class="text-danger">¥<span class="lead font-weight-bold">4390</span> 起</small>
    </div>
    <hr style="margin: 1rem -1.5rem;">
    <div class="font-weight-light">
        产品类型：跟团游 <br>
        游玩天数：4天 <br>
        发团日期：每月多团 <br>
        出发地点：成都 <br>
        付款方式：支付宝、微信钱包
    </div>
</div>

<div class="small py-2 text-truncate text-center" style="border-top: 5px solid #dddddd; border-bottom: 5px solid #dddddd;" data-toggle="collapse" data-target="#pc">
    选择批次：
    <div class="d-inline-block">
        <span>2018-05-23 - 2018-05-27</span>
        <span>已报名33人</span>
        <span class="text-danger">4390元/人</span>
    </div>
</div>

<div class="collapse fixed-top bg-white h-100" id="pc">
    <header class="text-warning">
        <span class="float-left" data-toggle="collapse" data-target="#pc"><i class="fas fa-lg fa-angle-left"></i></span>
        <div class="text-center">选择批次</div>
    </header>
    <ul class="list-group rounded-0 small">
        <li class="list-group-item d-flex justify-content-between">
            <span>2018-05-23 - 2018-05-27</span>
            <span>已报名33人</span>
            <span class="text-danger">4390元/人</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>2018-05-23 - 2018-05-27</span>
            <span>已报名33人</span>
            <span class="text-danger">4390元/人</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>2018-05-23 - 2018-05-27</span>
            <span>已报名33人</span>
            <span class="text-danger">4390元/人</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>2018-05-23 - 2018-05-27</span>
            <span>已报名33人</span>
            <span class="text-danger">4390元/人</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>2018-05-23 - 2018-05-27</span>
            <span>已报名33人</span>
            <span class="text-danger">4390元/人</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>2018-05-23 - 2018-05-27</span>
            <span>已报名33人</span>
            <span class="text-danger">4390元/人</span>
        </li>
    </ul>
</div>

<div class="p-4">
    <h5 class="left-border-orange">行程特色</h5>
    <small>
        宁静、优雅、甜蜜的双鱼岛是所有恋人的天堂，看着成群结对的鱼儿诉说彼此的依恋，漫步在洁白的沙滩上，手挽手走向沙滩尽头与海天融为一体，在这一刻你们的爱情在这里变为永恒。
        这就是你期盼的蓝色梦想，这就是马尔代夫最安静、私密的双鱼岛。Olhuveli Beach & Spa Resort是2001年，2002年及2003年的"最佳海滨奖"得主，拥有长达2公里的洁白美丽的海滩，设施现代舒适。
    </small>
    <div class="d-flex justify-content-between mt-3">
        <img src="holder.js/30px80" alt="30px80">
        <img src="holder.js/30px80" alt="30px80">
        <img src="holder.js/30px80" alt="30px80">
    </div>
</div>

<div class="top-border p-4">
    <h5 class="text-truncate left-border-orange mb-3">行程安排</h5>
    <div class="small xcap">
        <i class="far fa-circle text-warning position-absolute"></i>
        <h6><span class="text-warning">第一天</span> 成都 - 马尔代夫</h6>
        <p class="mb-1"><i class="fa fa-fw text-warning fa-map-marker-alt"></i> 行程：成都飞往马尔代夫 </p>
        <p class="mb-1"><i class="fa fa-fw text-warning fa-hospital"></i> 住宿：当地三星级酒店 </p>
        <p class="d-flex">
            <span class="align-self-start">
                <i class="fa fa-fw text-warning fa-utensils"></i> 餐饮：
            </span>
            <span>
                早餐：自理 <br>
                午餐：酒店团餐 <br>
                晚餐：自理
            </span>
        </p>
        <img src="holder.js/100px150" alt="100px150">
    </div>
    <div class="small xcap">
        <i class="far fa-circle text-warning position-absolute"></i>
        <h6><span class="text-warning">第二天</span> 成都 - 马尔代夫</h6>
        <p class="mb-1"><i class="fa fa-fw text-warning fa-map-marker-alt"></i> 行程：成都飞往马尔代夫 </p>
        <p class="mb-1"><i class="fa fa-fw text-warning fa-hospital"></i> 住宿：当地三星级酒店 </p>
        <p class="d-flex">
            <span class="align-self-start">
                <i class="fa fa-fw text-warning fa-utensils"></i> 餐饮：
            </span>
            <span>
                早餐：自理 <br>
                午餐：酒店团餐 <br>
                晚餐：自理
            </span>
        </p>
        <img src="holder.js/100px150" alt="100px150">
    </div>
    <div class="small xcap">
        <i class="far fa-circle text-warning position-absolute"></i>
        <h6><span class="text-warning">第三天</span> 成都 - 马尔代夫</h6>
        <p class="mb-1"><i class="fa fa-fw text-warning fa-map-marker-alt"></i> 行程：成都飞往马尔代夫 </p>
        <p class="mb-1"><i class="fa fa-fw text-warning fa-hospital"></i> 住宿：当地三星级酒店 </p>
        <p class="d-flex">
            <span class="align-self-start">
                <i class="fa fa-fw text-warning fa-utensils"></i> 餐饮：
            </span>
            <span>
                早餐：自理 <br>
                午餐：酒店团餐 <br>
                晚餐：自理
            </span>
        </p>
        <img src="holder.js/100px150" alt="100px150">
    </div>
</div>

<div class="top-border p-4 small">
    <h5 class="text-truncate left-border-orange mb-3">费用说明</h5>
    <p>
        费用包含 <br>
        1、成都-马尔代夫往返舱位票（含税）及旅游意外险； <br>
        2、签证：马尔代夫对中国公民免签，不需办理任何签证.
    </p>
    费用不含 <br>
    1、护照费 <br>
    2、境外个人消费 <br>
    3、单间房差价 <br>
    4、境外自由活动期间的餐费 <br>
    5、航空保险 <br>
    6、酒店员工等礼节性小费（1美金/天）
</div>

<div class="top-border p-4 small">
    <h5 class="text-truncate left-border-orange mb-3">注意事项</h5>
    1.所有住宿均以两人一房计算，如客人想住单房，则须补单房差！价格请咨询营业部！ <br>
    2.马尔代夫是度假目的地，酒店一旦预定成功，均产生所有费用，不能取消。客人一经报名确认后，如个人原因取消行程，我司将按实际产生的费用扣费！ <br>
    3.若因航空公司或马尔代夫政府书面调整税费（包括燃油税、马尔代夫当地床位税等）导致团费上升，客人需另外补交差价！
</div>

<div class="top-border p-4 small mb-5">
    <h5 class="text-truncate left-border-orange mb-3">签约条款</h5>
    1.所有住宿均以两人一房计算，如客人想住单房，则须补单房差！价格请咨询营业部！ <br>
    2.马尔代夫是度假目的地，酒店一旦预定成功，均产生所有费用，不能取消。客人一经报名确认后，如个人原因取消行程，我司将按实际产生的费用扣费！ <br>
    3.若因航空公司或马尔代夫政府书面调整税费（包括燃油税、马尔代夫当地床位税等）导致团费上升，客人需另外补交差价！
</div>

<footer class="fixed-bottom activity-bottom">
    <div class="text-center d-flex justify-content-between align-items-stretch small">
        <a href="#" class="swt w-25 pt-2">
            <i class="fa fa-lg fa-comment-alt"></i>
            <br>在线咨询
        </a>
        <a href="#" class="w-25 pt-2">
            <i class="fa fa-lg fa-phone fa-rotate-90"></i>
            <br>电话咨询
        </a>
        <span class="w-50">
            <button class="btn btn-block btn-warning rounded-0 h-100">下一步</button>
        </span>
    </div>
</footer>

<aside class="return-top" style="bottom: 60px;">
    <i class="fa fa-2x fa-arrow-alt-circle-up"></i>
</aside>
</body>
</html>