<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>专属定制</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-sticky text-warning">
    <span class="float-left" onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
    <div class="text-center">专属定制</div>
</header>
<img class="w-100 d-block" src="img/customized_banner.jpg" alt="customized_banner">
<p class="container-fluid">
    <img class="w-100 d-block" src="img/customized_step.jpg" alt="customized_step">
</p>
<form class="container-fluid" autocomplete="off">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon bg-white"><i class="far fa-fw fa-map-marker-alt"></i></span>
            <input type="text" class="form-control border-left-0" name="title" placeholder="请填写您想去的目的地" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon bg-white"><i class="far fa-fw fa-mobile"></i></span>
            <input type="text" class="form-control border-left-0" name="mobile" placeholder="请填写您的手机号码" required>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-warning btn-block">开始定制</button>
    </div>
</form>
</body>
</html>