<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>领队详情</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute">
    <div class="text-white d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>领队详情</span>
        <a href="auth/login.html">
            <i class="fa fa-fw fa-user"></i>
            <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
        </a>
    </div>
</header>

<div class="position-relative show-leader">
    <div class="bg-leader text-hide position-absolute" style="background-image: url(img/avatar_leader.png);"></div>
    <div class="text-center">
        <div class="avatar position-relative">
            <img class="rounded-circle" src="img/avatar_leader.png" alt="小小灵" height="120" width="120">
            <span class="fa-stack position-absolute">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="text-white px-3 small font-weight-light">很喜欢徒步，真心希望每一个朋友能在我的带领下用自己的双脚去感受这片土地的美丽与神奇。</div>
    </div>
</div>
<div class="top-border pt-3">
    <div class="media bg-light p-3">
        <img class="mr-3" src="img/avatar_leader.png" alt="小小灵" width="100" height="150">
        <div class="media-body">
            <h5 class="text-warning left-border-orange ml-0">小小灵</h5>
            <p class="small mb-1 text-warning text-justify">
                <i class="fa fa-map-marker-alt"></i>
                <span class="mr-1">中国</span>
                <span class="mr-1">云南</span>
                <span class="mr-1">昆明</span>
                <span class="mr-1">五华区</span>
            </p>
            <div class="small font-weight-light">
                很喜欢徒步，真心希望每一个朋友能在我的带领下用自己的双脚去感受这片土地的美丽与神奇。<br>
                本领队正在成长中，注重对自己和队友的加强和磨练…
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <p class="text-warning text-center mt-3">关于TA</p>
    <hr>
    <p class="mb-1"><i class="fa fa-quote-left fa-lg text-secondary"></i></p>
    <div class="small font-weight-light">
        因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。
        厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天
        上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。
    </div>
    <p class="text-right"><i class="fa fa-quote-right fa-lg text-secondary"></i></p>
</div>

<div class="py-3" style="border-top: 10px solid #f7f7f7; border-bottom: 10px solid #f7f7f7;">
    <div class="roll-x">
        <div class="d-flex flex-nowrap">
            <img class="m-1" src="holder.js/165x140?random=yes" alt="165x140" width="165" height="140">
            <img class="m-1" src="holder.js/165x140?random=yes" alt="165x140" width="165" height="140">
            <img class="m-1" src="holder.js/165x140?random=yes" alt="165x140" width="165" height="140">
            <img class="m-1" src="holder.js/165x140?random=yes" alt="165x140" width="165" height="140">
            <img class="m-1" src="holder.js/165x140?random=yes" alt="165x140" width="165" height="140">
            <img class="m-1" src="holder.js/165x140?random=yes" alt="165x140" width="165" height="140">
        </div>
    </div>
</div>

<div class="p-3 text-warning text-center">TA领队的活动</div>
<div class="a-list">
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <small class="position-absolute text-warning">
            ¥<span class="lead font-weight-bold">7867</span> 起
        </small>
        <p class="position-absolute mb-0">
            <span class="badge badge-pill badge-primary mr-1">自由行</span>
            <span class="badge badge-pill badge-success mr-1">大优惠</span>
            <span class="badge badge-pill badge-danger mr-1">接送机</span>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <small class="position-absolute text-warning">
            ¥<span class="lead font-weight-bold">7867</span> 起
        </small>
        <p class="position-absolute mb-0">
            <span class="badge badge-pill badge-primary mr-1">自由行</span>
            <span class="badge badge-pill badge-success mr-1">大优惠</span>
            <span class="badge badge-pill badge-danger mr-1">接送机</span>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <small class="position-absolute text-warning">
            ¥<span class="lead font-weight-bold">7867</span> 起
        </small>
        <p class="position-absolute mb-0">
            <span class="badge badge-pill badge-primary mr-1">自由行</span>
            <span class="badge badge-pill badge-success mr-1">大优惠</span>
            <span class="badge badge-pill badge-danger mr-1">接送机</span>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <small class="position-absolute text-warning">
            ¥<span class="lead font-weight-bold">7867</span> 起
        </small>
        <p class="position-absolute mb-0">
            <span class="badge badge-pill badge-primary mr-1">自由行</span>
            <span class="badge badge-pill badge-success mr-1">大优惠</span>
            <span class="badge badge-pill badge-danger mr-1">接送机</span>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <small class="position-absolute text-warning">
            ¥<span class="lead font-weight-bold">7867</span> 起
        </small>
        <p class="position-absolute mb-0">
            <span class="badge badge-pill badge-primary mr-1">自由行</span>
            <span class="badge badge-pill badge-success mr-1">大优惠</span>
            <span class="badge badge-pill badge-danger mr-1">接送机</span>
        </p>
    </a>
    <p class="text-center text-secondary small">
        <i class="fas fa-sync fa-spin"></i> 更多精彩加载中...
    </p>
</div>

<footer class="top-border text-center py-2 font-weight-light">
    <ul class="nav nav-justified text-nowrap mb-2">
        <li class="nav-item">
            <a class="nav-link active" href="index.blade.php">
                <i class="fa fa-home"></i>
                <br>返回首页
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-user"></i>
                <br>我的遇途记
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link" href="#">
                <i class="fa fa-list-alt"></i>
                <br>我的订单
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-desktop"></i>
                <br>电脑版
            </a>
        </li>
    </ul>
    <div class="small">
        <p><a href="#">关于我们</a> | <a href="#">联系我们</a></p>
        <p class="text-secondary">
            Copyright © 2004 - 2018 遇途记 <br>
            版权所有 蜀ICP备12001888号-8
        </p>
    </div>
    <span class="return-top">
        <i class="fa fa-2x fa-arrow-alt-circle-up"></i>
    </span>
</footer>

<link href="css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
<script src="../../../public/m/js/jquery.mCustomScrollbar.min.js"></script>
<script>
    (function ($) {
        $('.roll-x').mCustomScrollbar({
            axis: 'x',
            theme: 'rounded-dark',
            scrollbarPosition: 'outside'
        })
    })(jQuery);
</script>
</body>
</html>