<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>视频列表</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>视频中心</span>
        <div>
            <a href="auth/login.blade.php" class="text-warning">
                <i class="fa fa-fw fa-user"></i>
                <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
            </a>
            <a href="#menu" class="text-warning" data-toggle="collapse">
                <i class="fa fa-fw fa-align-justify"></i>
            </a>
        </div>
    </div>
</header>

<nav class="collapse font-weight-light position-absolute" id="menu">
    <a href="#">纵横西部</a>
    <a href="#">微上西部</a>
    <a href="#">超级周末</a>
    <a href="#">最6旅行</a>
    <a href="#">定制游</a>
    <a href="#">活动</a>
    <a href="#">攻略</a>
    <a href="#">游记</a>
    <a href="#">大咖领路</a>
    <a href="#">旅拍直播</a>
    <a href="#">关于我们</a>
</nav>

<img class="d-block w-100" src="holder.js/100px220" alt="100px220">

<ul class="nav justify-content-center top-border nav-two">
    <li class="nav-item">
        <a class="nav-link active" href="#">旅途短拍</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">大咖直播</a>
    </li>
</ul>

<div class="container-fluid top-border">
    <div class="py-3 d-flex">
        <a class="text-dark pr-4" data-toggle="collapse" href="#dq">
            地区<i class="fa fa-fw fa-caret-down"></i>
        </a>
        <a class="text-dark pr-4" data-toggle="collapse" href="#sort">
            综合排序<i class="fa fa-fw fa-caret-down"></i>
        </a>
    </div>
</div>

<div class="container-fluid" id="screen" data-children=".item">
    <div class="item">
        <div class="collapse" data-parent="#screen" id="dq">
            <div class="d-flex justify-content-between">
                <span>地区</span>
                <span><i class="fa fa-fw fa-angle-down"></i></span>
            </div>
            <p class="text-center clearfix">
                <a class="active" href="#">不限</a>
                <a href="#">四川</a>
                <a href="#">西藏</a>
                <a href="#">云南</a>
                <a href="#">青海</a>
                <a href="#">新疆</a>
                <a href="#">陕甘宁</a>
                <a href="#">内蒙</a>
            </p>
            <div class="px-3 mb-3">
                <div class="row">
                    <div class="col-6 p-0">
                        <button class="btn btn-block rounded-0 btn-outline-secondary">重 &nbsp; 置</button>
                    </div>
                    <div class="col-6 p-0">
                        <button class="btn btn-block rounded-0 btn-warning">确 &nbsp; 认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="collapse" data-parent="#screen" id="sort">
            <div class="d-flex justify-content-between">
                <span>综合排序</span>
                <span><i class="fa fa-fw fa-angle-down"></i></span>
            </div>
            <p class="text-center clearfix">
                <a class="active w-50" href="#">经常推荐</a>
                <a class="w-50" href="#">热门点击</a>
                <a class="w-50" href="#">最新上传</a>
                <a class="w-50" href="#">最近更新</a>
            </p>
            <div class="px-3 mb-3">
                <div class="row">
                    <div class="col-6 p-0">
                        <button class="btn btn-block rounded-0 btn-outline-secondary">重 &nbsp; 置</button>
                    </div>
                    <div class="col-6 p-0">
                        <button class="btn btn-block rounded-0 btn-warning">确 &nbsp; 认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="a-list">
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <p class="position-absolute mb-0">
            <i class="fa fa-play-circle fa-lg"></i>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <p class="position-absolute mb-0">
            <i class="fa fa-play-circle fa-lg"></i>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <p class="position-absolute mb-0">
            <i class="fa fa-play-circle fa-lg"></i>
        </p>
    </a>
    <a href="#" class="card rounded-0 border-0">
        <img class="card-img-top" src="holder.js/100px150" alt="Card image cap">
        <div class="card-body">
            <h6 class="text-truncate">成都 · 大熊猫6天5晚自由行大熊猫6天5晚自由行</h6>
            <p class="card-text text-truncate small">曼谷是一座五光十色的城,以其独有的魅力吸引着来...</p>
        </div>
        <p class="position-absolute mb-0">
            <i class="fa fa-play-circle fa-lg"></i>
        </p>
    </a>
    <p class="text-center text-secondary small">
        <i class="fas fa-sync fa-spin"></i> 更多精彩加载中...
    </p>
</div>

<footer class="top-border text-center py-2 font-weight-light">
    <ul class="nav nav-justified text-nowrap mb-2">
        <li class="nav-item">
            <a class="nav-link active" href="index.blade.php">
                <i class="fa fa-home"></i>
                <br>返回首页
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-user"></i>
                <br>我的遇途记
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-list-alt"></i>
                <br>我的订单
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-desktop"></i>
                <br>电脑版
            </a>
        </li>
    </ul>
    <div class="small">
        <p><a href="#">关于我们</a> | <a href="#">联系我们</a></p>
        <p class="text-secondary">
            Copyright © 2004 - 2018 遇途记 <br>
            版权所有 蜀ICP备12001888号-8
        </p>
    </div>
    <span class="return-top">
        <i class="fa fa-2x fa-arrow-alt-circle-up"></i>
    </span>
</footer>
</body>
</html>