<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>攻略详情</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute">
    <div class="text-white d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>攻略详情</span>
        <a href="auth/login.html">
            <i class="fa fa-fw fa-user"></i>
            <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
        </a>
    </div>
</header>

<img class="d-block w-100" src="holder.js/100px220" alt="100px220">

<div class="p-4">
    <h6 class="left-border-orange text-truncate">线路 · 成都4天3晚自由行攻略</h6>
    <div class="small text-secondary text-truncate">
        <span class="mr-2"><i class="fa fa-map-marker-alt"></i> 成都</span>
        <span class="mr-2"><i class="fa fa-eye"></i> 12312</span>
        <span class="mr-2"><i class="fa fa-user"></i> 橙子</span>
        <span class="mr-2"><i class="far fa-clock"></i> 2017-12-12</span>
    </div>
</div>

<hr class="m-0">

<div class="p-4 small div-body">
    <h6>为啥要带着孩子去旅行？</h6>
    <p>
        对于很多人而言，旅行无疑是件很美妙的事情。那有了孩子后，要不要带孩子去旅行呢?在回答这个问题之前，我们先来思考下，大部分人不愿意带娃出去旅游的原因。<br>
        1、孩子那么小，根本记不住。<br>
        2、旅行中，小朋友不一定能适应，气候不一样，时差不一样，吃东西口味不一样，万一生病了，怎么办？还是在家安全。
    </p>
    <p><img src="holder.js/800x500" alt=""></p>

    <h6>为啥要带着孩子去旅行？</h6>
    <p>
        对于很多人而言，旅行无疑是件很美妙的事情。那有了孩子后，要不要带孩子去旅行呢?在回答这个问题之前，我们先来思考下，大部分人不愿意带娃出去旅游的原因。<br>
        1、孩子那么小，根本记不住。<br>
        2、旅行中，小朋友不一定能适应，气候不一样，时差不一样，吃东西口味不一样，万一生病了，怎么办？还是在家安全。
    </p>
    <p><img src="holder.js/800x500" alt=""></p>

    <h6>为啥要带着孩子去旅行？</h6>
    <p>
        对于很多人而言，旅行无疑是件很美妙的事情。那有了孩子后，要不要带孩子去旅行呢?在回答这个问题之前，我们先来思考下，大部分人不愿意带娃出去旅游的原因。<br>
        1、孩子那么小，根本记不住。<br>
        2、旅行中，小朋友不一定能适应，气候不一样，时差不一样，吃东西口味不一样，万一生病了，怎么办？还是在家安全。
    </p>
    <p><img src="holder.js/800x500" alt=""></p>
</div>


<div class="p-3 top-border">
    <div class="p-2">
        <h6 class="text-warning left-border-orange">您可能喜欢的线路</h6>
    </div>
    <div class="row px-2">
        <a href="#" class="col-6 px-2 text-dark">
            <img class="d-block mb-1" src="holder.js/100px90" alt="Card image cap">
            <p class="small">新疆南北深度包车VIP自由行，多车型任选（暑期特惠）</p>
        </a>
        <a href="#" class="col-6 px-2 text-dark">
            <img class="d-block mb-1" src="holder.js/100px90" alt="Card image cap">
            <p class="small">新疆南北深度包车VIP自由行，多车型任选（暑期特惠）</p>
        </a>
        <a href="#" class="col-6 px-2 text-dark">
            <img class="d-block mb-1" src="holder.js/100px90" alt="Card image cap">
            <p class="small">新疆南北深度包车VIP自由行，多车型任选（暑期特惠）</p>
        </a>
        <a href="#" class="col-6 px-2 text-dark">
            <img class="d-block mb-1" src="holder.js/100px90" alt="Card image cap">
            <p class="small">新疆南北深度包车VIP自由行，多车型任选（暑期特惠）</p>
        </a>
    </div>
</div>

<footer class="top-border text-center py-2 font-weight-light">
    <ul class="nav nav-justified text-nowrap mb-2">
        <li class="nav-item">
            <a class="nav-link active" href="index.blade.php">
                <i class="fa fa-home"></i>
                <br>返回首页
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-user"></i>
                <br>我的遇途记
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-list-alt"></i>
                <br>我的订单
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-desktop"></i>
                <br>电脑版
            </a>
        </li>
    </ul>
    <div class="small">
        <p><a href="#">关于我们</a> | <a href="#">联系我们</a></p>
        <p class="text-secondary">
            Copyright © 2004 - 2018 遇途记 <br>
            版权所有 蜀ICP备12001888号-8
        </p>
    </div>
    <span class="return-top">
        <i class="fa fa-2x fa-arrow-alt-circle-up"></i>
    </span>
</footer>
</body>
</html>