<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>游记详情</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute">
    <div class="text-white d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>游记详情</span>
        <a href="auth/login.blade.php">
            <i class="fa fa-fw fa-user"></i>
            <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
        </a>
    </div>
</header>

<img class="d-block w-100" src="holder.js/100px220" alt="100px220">

<div class="bg-white p-3">
    <div class="text-muted small d-flex justify-content-between">
        <a href="#">
            <img class="rounded-circle align-bottom" src="img/avatar_leader.png" alt="头像" style="margin-top: -80px;" height="60" width="60">
        </a>
        <!--女性 fa-mercury-->
        <a href="#" class="text-warning"><i class="fa fa-lg fa-mars"></i> 小黄人</a>
        <span><i class="fa fa-map-marker-alt"></i> 四川 成都</span>
        <span><i class="fa fa-eye"></i> 19</span>
        <span><i class="far fa-clock"></i> 2017-12-25</span>
    </div>
</div>

<div class="top-border p-3">
    <h6 class="left-border-orange text-truncate mb-0">成都4天3晚自由行攻略</h6>
</div>

<div class="top-border p-3 small">
    <h6>吃苦，你怕了吗？</h6>
    <p>出行前我跟小伙伴们说，跟着我，要吃苦的，怕吗？<br>
        旅行从来都不是说走就走那么简单<br>
        像这次，要坐32小时火车，要搬沉重的行李，要负重行走<br>
        要长时间坐车颠簸，要去偏僻的地方，甚至会进入无人区，手机没信号<br>
        会遇到糟糕的天气，会吃一脸土，会食无定时，会有身体不适会遇到一切无法预料的事情</p>
    <p>咦，这样不是更有趣吗？<br>
        遇见未知，突破荆棘，享受美景的时候越是触动心灵，因为知道它来之不易<br>
        每个人都向往柏拉图式的爱情，旅行也一样，但哪有离开柴米油盐，脱离现实的？<br>
        长期行走在路上容易迷失自己<br>
        用特殊的方式去旅行，享受旅程带来的未知，保持初心，世界会比想象中更温柔。</p>
</div>

<footer class="top-border text-center py-2 font-weight-light">
    <ul class="nav nav-justified text-nowrap mb-2">
        <li class="nav-item">
            <a class="nav-link active" href="index.blade.php">
                <i class="fa fa-home"></i>
                <br>返回首页
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-user"></i>
                <br>我的遇途记
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-list-alt"></i>
                <br>我的订单
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-desktop"></i>
                <br>电脑版
            </a>
        </li>
    </ul>
    <div class="small">
        <p><a href="#">关于我们</a> | <a href="#">联系我们</a></p>
        <p class="text-secondary">
            Copyright © 2004 - 2018 遇途记 <br>
            版权所有 蜀ICP备12001888号-8
        </p>
    </div>
    <span class="return-top">
        <i class="fa fa-2x fa-arrow-alt-circle-up"></i>
    </span>
</footer>
</body>
</html>