<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>会员游记</title>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <script src="../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="css/sweetalert.css">
    <script src="../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/m.css">
    <script src="../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>游记</span>
        <div>
            <a href="auth/login.html" class="text-warning">
                <i class="fa fa-fw fa-user"></i>
                <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
            </a>
            <a href="#menu" class="text-warning" data-toggle="collapse">
                <i class="fa fa-fw fa-align-justify"></i>
            </a>
        </div>
    </div>
</header>

<nav class="collapse font-weight-light position-absolute" id="menu">
    <a href="#">纵横西部</a>
    <a href="#">微上西部</a>
    <a href="#">超级周末</a>
    <a href="#">最6旅行</a>
    <a href="#">定制游</a>
    <a href="#">活动</a>
    <a href="#">攻略</a>
    <a href="#">游记</a>
    <a href="#">大咖领路</a>
    <a href="#">旅拍直播</a>
    <a href="#">关于我们</a>
</nav>

<img class="d-block w-100" style="margin-top: 2.7rem;" src="holder.js/100px220?random=yes" alt="100px220">

<div class="text-center">
    <p class="mb-0"><img src="holder.js/110x110?random=yes" alt="110x110" class="p-2 rounded-circle" style="background: rgba(255, 255, 255, .3); margin-top: -55px;"></p>
    <h5>HEHE <i class="fa fa-venus text-danger"></i></h5>
    <small>现居：四川 成都</small>
    <p class="text-secondary">“世界那么大，东看看，西看看”</p>
</div>

<ul class="nav bg-light" style="border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;">
    <li class="nav-item px-3">
        <a class="nav-link px-0 text-dark" style="border-bottom: 2px solid #00a0e9; margin-bottom: -2px;">TA的游记</a>
    </li>
</ul>
<div class="home-travels py-3">
    <div class="card">
        <div class="position-relative mx-3">
            <a href="#">
                <img class="card-img-top rounded-0" src="holder.js/100px160" alt="天台山、平乐古镇两日游记（含详细行程、费用）">
            </a>
            <div class="position-absolute up">
                <small class="text-white">330</small>
                <span class="fa-stack btn-dz" data-tid="3" style="cursor: pointer;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
        <div class="card-body py-2">
            <h6 class="card-title text-truncate">
                <a class="text-dark" href="#">天台山、平乐古镇两日游记（含详细行程、费用）</a>
            </h6>
            <p class="card-text text-muted small d-flex justify-content-between">
                <span class="mr-3"><i class="fa fa-fw fa-map-marker-alt"></i> 四川 成都</span>
                <span class="mr-3"><i class="fa fa-fw fa-eye"></i> 25</span>
                <span class="ml-auto"><i class="far fa-fw fa-clock"></i> 2017-12-25</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="position-relative mx-3">
            <a href="#">
                <img class="card-img-top rounded-0" src="holder.js/100px160" alt="天台山、平乐古镇两日游记（含详细行程、费用）">
            </a>
            <div class="position-absolute up">
                <small class="text-white">330</small>
                <span class="fa-stack btn-dz" data-tid="3" style="cursor: pointer;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
        <div class="card-body py-2">
            <h6 class="card-title text-truncate">
                <a class="text-dark" href="#">天台山、平乐古镇两日游记（含详细行程、费用）</a>
            </h6>
            <p class="card-text text-muted small d-flex justify-content-between">
                <span class="mr-3"><i class="fa fa-fw fa-map-marker-alt"></i> 四川 成都</span>
                <span class="mr-3"><i class="fa fa-fw fa-eye"></i> 25</span>
                <span class="ml-auto"><i class="far fa-fw fa-clock"></i> 2017-12-25</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="position-relative mx-3">
            <a href="#">
                <img class="card-img-top rounded-0" src="holder.js/100px160" alt="天台山、平乐古镇两日游记（含详细行程、费用）">
            </a>
            <div class="position-absolute up">
                <small class="text-white">330</small>
                <span class="fa-stack btn-dz" data-tid="3" style="cursor: pointer;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
        <div class="card-body py-2">
            <h6 class="card-title text-truncate">
                <a class="text-dark" href="#">天台山、平乐古镇两日游记（含详细行程、费用）</a>
            </h6>
            <p class="card-text text-muted small d-flex justify-content-between">
                <span class="mr-3"><i class="fa fa-fw fa-map-marker-alt"></i> 四川 成都</span>
                <span class="mr-3"><i class="fa fa-fw fa-eye"></i> 25</span>
                <span class="ml-auto"><i class="far fa-fw fa-clock"></i> 2017-12-25</span>
            </p>
        </div>
    </div>
    <hr>
    <p class="text-center text-secondary small">
        <i class="fas fa-sync fa-spin"></i> 更多精彩加载中...
    </p>
</div>

<footer class="top-border text-center py-2 font-weight-light">
    <ul class="nav nav-justified text-nowrap mb-2">
        <li class="nav-item">
            <a class="nav-link active" href="index.blade.php">
                <i class="fa fa-home"></i>
                <br>返回首页
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-user"></i>
                <br>我的遇途记
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-list-alt"></i>
                <br>我的订单
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-desktop"></i>
                <br>电脑版
            </a>
        </li>
    </ul>
    <div class="small">
        <p><a href="#">关于我们</a> | <a href="#">联系我们</a></p>
        <p class="text-secondary">
            Copyright © 2004 - 2018 遇途记 <br>
            版权所有 蜀ICP备12001888号-8
        </p>
    </div>
    <span class="return-top">
        <i class="fa fa-2x fa-arrow-alt-circle-up"></i>
    </span>
</footer>
</body>
</html>