<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link rel="stylesheet" href="../fontawesome/css/fontawesome-all.css">
    <script src="../../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../../../../public/m/js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script src="../../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="../css/m.css">
</head>
<body>
<header class="position-sticky text-warning">
    <span class="float-left" onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
    <div class="text-center">遇途记欢迎您</div>
</header>
<div class="container-fluid">
    <div class="text-center p-5">
        <img src="../img/logo.png" alt="logo" width="206" height="79">
    </div>

    <form>
        <div class="form-group">
            <input type="tel" class="form-control" placeholder="请输入手机号">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-warning">登 &nbsp; 陆</button>
        </div>
        <div class="form-group pb-2">
            <span class="text-danger"><i class="fa fa-fw fa-info-circle"></i>账号密码错误。</span>
            <a href="forgot.html" class="float-right text-muted">忘记密码</a>
        </div>
    </form>

    <hr>
    <div class="text-center">
        <p class="text-muted" style="margin-top: -30px;">
            <span class="px-2 bg-white">其他方式登陆</span>
        </p>
        <p>
            <i class="fab fa-2x fa-qq text-info mr-3"></i>
            <i class="fab fa-2x fa-weixin text-success"></i>
        </p>
    </div>
    <p>
        <button class="btn btn-block btn-outline-warning">手机快速注册</button>
    </p>
</div>
</body>
</html>