/**
 * 开发者 Bing
 * QQ 676659348
 * 请保留开发者权利，生存不易，勿删！
 */
/*阿里图标*/
@import "//at.alicdn.com/t/font_498436_hdc5ut1605ecow29.css";

body {
    background: #F9F9F9;
    color: #444444;
}

a {
    color: #666666;
}

a:hover {
    color: #FF9900;
    text-decoration: none;
}

.container {
    width: 1230px;
    max-width: none !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-to {
    opacity: 0
}

.page-item.active .page-link {
    background-color: #FF9900;
    border-color: #FF9900;
}

.page-link:focus, .page-link:hover {
    color: #999999;
}

.page-link {
    color: #999999;
}

.btn-warning,
.bg-warning {
    background-color: #FF9900;
}

.text-warning,
.btn-outline-warning {
    color: #FF9900;
}

header.bg-white {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

footer {
    padding-top: 60px;
    clear: both;
    color: #666666;
    font-size: 12px;
}

footer .nav {
    font-size: 16px;
}

footer .nav > a.nav-link {
    padding-bottom: 0;
    padding-top: 0;
}

footer .nav > a + a {
    border-left: 1px solid #CCCCCC;
}

footer .nav > a.active {
    color: #FF9900;
}

footer .about a {
    padding: 0 10px;
}

footer .about a + a {
    border-left: 1px solid #DDDDDD;
}

footer .links a {
    display: block;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-right {
    right: 0;
    top: 50%;
    width: 80px;
    margin-top: -149px;
    z-index: 100;
}

.side-right > div {
    background: rgba(0, 0, 0, .3);
    padding: 10px;
}

.side-right span + span {
    border-top: 1px solid #DDDDDD;
}

.side-right span {
    padding: 10px 0;
}

.side-right .top,
.side-right .swt {
    cursor: pointer;
}

.bg-login {
    background: url(../img/bg_login.jpg) center top / cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.panel-login {
    margin-left: -190px;
    width: 380px;
    z-index: 2;
    top: 190px;
    left: 50%;
}

.panel-login > form {
    padding: 40px 47px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.panel-login p {
    font-size: 13px;
}

.panel-login .error {
    font-size: 13px;
    top: 10px;
}

.bg-register {
    background: url(../img/bg_register.jpg) center top / cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.bg-forgot {
    background: url(../img/bg_forgot.jpg) center top / cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.top-nav {
    padding: .5rem 0;
}

.navbar-dark.top-nav .nav-link {
    color: #FFFFFF;
}

.top-search .down {
    background: none;
    cursor: pointer;
    color: #999;
    /*border-radius: 15px 0 0 15px;*/
    border-color: #CCC;
}

.top-search .submit {
    background: none;
    cursor: pointer;
}

.user-info,
.user-info a {
    color: #888888;
}

.index-down {
    background: rgba(0, 0, 0, .5);
    padding: 5px;
    min-width: auto;
}

.index-down > a {
    color: #FFFFFF;
    padding: 8px 13px;
}

.index-down > a > i,
.other-down > a > i {
    color: #CCCCCC;
}

.index-down > a + a {
    border-top: 1px solid #FFFFFF;
}

.other-down {
    min-width: auto;
    padding: 5px;
    border-color: #F9F9F9;
}

.other-down.no-line > a {
    color: #999999;
}

.other-down:not(.no-line) > a {
    color: #555555;
    padding: 8px 13px;
}

.other-down:not(.no-line) > a + a {
    border-top: 1px solid #CCCCCC;
}

.index-down > a:hover,
.other-down > a:hover {
    background-color: transparent;
    color: #FF9900;
}

.bg-home {
    height: 500px;
    background-position: center top;
    background-size: cover;
}

.bg-home .btn {
    background: rgba(0, 0, 0, .3);
    margin-top: 30px;
    font-size: 13px;
}

.nav-user {
    border-bottom: 2px solid #E5E5E5;
}

.nav-user .nav {
    margin-left: 350px;
    font-size: 18px;
    margin-bottom: -2px;
}

.nav-user .nav > .nav-link {
    color: #666666;
}

.nav-user .nav > .nav-link.active {
    color: #FF9900;
    border-bottom: 2px solid #FF9900;
}

.home-user {
    padding: 0 30px;
    width: 310px;
    font-size: 13px;
    box-shadow: 0 0 10px #DDDDDD;
}

.home-user .avatar {
    margin-top: -70px;
}

.home-user b {
    font-size: 18px;
}

.home-travels {
    width: 870px;
    border-radius: 5px;
    box-shadow: 0 0 10px #DDDDDD;
}

.home-travels p {
    font-size: 13px;
    color: #777777;
}

.home-travels .card .btns {
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s
}

.home-travels .card:hover .btns {
    opacity: 1;
}

.home-travels .btn-dark {
    background: rgba(0, 0, 0, .3);
}

.home-travels .up {
    right: 30px;
    top: 20px;
}

.home-travels .card {
    border-radius: 0;
    border: none;
}

.home-travels .card .card-img-top {
    border-radius: 0;
}

.home-travels span.btns > a {
    color: #aa8d3f;
}

.home-travels .body {
    color: #666666;
    font-size: 13px;
    line-height: 1.8;
}

.home-release {
    width: 310px;
    font-size: 13px;
    box-shadow: 0 0 10px #DDDDDD;
}

.home-release > ul > li {
    clear: both;
    padding: 5px 0;
    overflow: hidden;
}

.home-release > ul > li i,
.home-release > ul > li small {
    color: #999999;
}

.home-release > ul > li i {
    cursor: pointer;
}

.home-release > ul > li .float-right {
    transition: opacity .2s;
    opacity: 0;
}

.home-release > ul > li:hover .float-right {
    opacity: 1;
}

.home-travels .icon-edit > span {
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 3px 8px;
    color: #666666;
    margin-right: 5px;
    cursor: pointer;
}

.home-travels .list-message a {
    color: #FF9900;
}

.home-travels .list-message td {
    border-top: 1px dashed #DDDDDD;
    font-size: 13px;
}

.home-travels .list-message tr:first-child > td {
    border-top: none;
}

.home-travels .list-message i.unread {
    top: 3px;
    right: -2px;
    background: #ff624d;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 5px;
}

.home-travels .list-order {
    font-size: 13px;
}

.home-travels .list-order th {
    background: #fafafa;
    border: none;
}

.home-travels .list-order td {
    border-bottom: 1px dashed #DDDDDD;
}

.home-travels .list-order tr:first-child > td {
    border-top: none;
}

.home-travels .nav-order .nav-link {
    color: #FF9900;
}

.home-travels .nav-order .active {
    background: #FF9900;
    color: #FFFFFF;
}

.home-travels .nav-order .disabled {
    color: #868e96;
}

.home-travels .order-info {
    color: #666666;
    font-size: 13px;
    line-height: 2;
}

.home-travels .order-info li {
    padding: 20px 0;
}

.home-travels .order-info li + li {
    border-top: 1px dashed #CCCCCC;
}

/*index*/
.head-index {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.head-index .top-nav .nav-link {
    padding: .5rem 1rem;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators li.active {
    background: #FF9900;
}

.tab-theme .box {
    width: 20%;
    overflow: hidden;
    text-align: center;
    transition: width .3s;
}

.tab-theme .box.active {
    width: 40%;
    text-align: left;
}

.tab-theme .text {
    right: 20px;
    left: 20px;
    bottom: 0;
}

.tab-theme .box.active > .text {
    right: 100px;
}

.tab-theme a.btn,
.wan-tbs a.btn {
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: opacity .3s;
}

.tab-theme .box.active > .text > h4,
.wan-tbs .carousel-caption > h4 {
    border-left: 3px solid #FFF;
}

.tab-theme .box.active > a.btn {
    opacity: 1;
}

.wan-tbs .carousel-caption {
    text-align: left;
    left: 20px;
    right: 20px;
    bottom: 0;
    padding: 0;
}

.wan-tbs a.btn {
    opacity: 1;
    z-index: 11;
}

.wan-tbs .carousel-control-next,
.wan-tbs .carousel-control-prev {
    bottom: 80px;
}

.nav-link.active {
    color: #FF9900;
}

.wan-video .position-absolute {
    left: 15%;
    right: 15%;
    bottom: 20px;
    color: #FFFFFF;
    text-align: center;
    transition: opacity .3s;
}

.wan-video p.icon {
    top: 35%;
    opacity: .7;
}

.wan-video a:hover .icon {
    opacity: 1;
}

.wan-video a:hover .text {
    opacity: 0.3;
}

.wan-gl .position-absolute {
    left: 15%;
    right: 15%;
    top: 50%;
    margin-top: -40px;
    color: #FFFFFF;
    text-align: center;
    transition: opacity .3s;
    opacity: 0;
    z-index: 1;
}

.wan-gl a.position-relative {
    overflow: hidden;
}

.wan-gl .bg-mark {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    background: rgba(0, 0, 0, .3);
}

.wan-gl a:hover .position-absolute {
    opacity: 1;
}

.list-youji a.h6 {
    height: 50px;
    overflow: hidden;
    display: block;
    line-height: 1.5;
    margin-bottom: 30px;
}

/*商品列表*/
.list-param {
    font-size: 13px;
}

.list-param a {
    padding: 2px 6px;
}

.list-param a.active {
    color: #FFFFFF;
    background: #FF9900;
    padding: 2px 10px;
    display: inline-block;
}

.list-param span {
    cursor: pointer;
}

.list-orderBy a > i {
    opacity: 0;
    transition: opacity .3s;
}

.list-orderBy a.active > i {
    opacity: 1;
}

.list-fatuan {
    max-height: 300px;
    overflow: hidden;
}

.list-fatuan td {
    padding: 8px 0;
}

.list-media .day {
    left: 15px;
    top: 165px;
    line-height: normal;
}

.list-media > .media {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
}

.list-media > .media + .media {
    padding-top: 15px;
}

/*商品详情*/

#photos > ol {
    text-align: right;
    display: block;
    margin: 10px 5%;
}

#photos > ol > li {
    display: inline-block;
}

.nav.goods-bar {
    border-bottom: 2px solid #EEEEEE;
}

.nav.goods-bar a.active {
    border-bottom: 2px solid #FF9900;
    margin-bottom: -2px;
}

.goods-list-box {
    padding: 30px 60px;
    line-height: 2;
    font-size: 13px;
}

.goods-list-box h3 {
    margin-bottom: 30px;
}

.goods-list-box h3 > i {
    margin-left: -45px;
}

.num-day {
    background: #FF9900;
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.order-form > .num-info {
    border: 1px solid #CCCCCC;
    padding: 80px 40% 20px 5%;
    margin-bottom: 40px;
}

.order-form > .num-info > div {
    left: 0;
    top: 0;
    right: 0;
}

.order-form > .num-info .num {
    background: url(../img/bg_num_user.png) no-repeat;
    width: 167px;
    height: 35px;
    padding-left: 35px;
    line-height: 35px;
}

.order-form > .num-info .close {
    cursor: pointer;
}

.pay_select > div {
    border: 1px solid #DDDDDD;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.pay_select > div > span {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/pay_select.png) no-repeat right bottom;
}

.pay_select > div.active {
    border: 1px solid #FF9900;
}

.pay_select > div.active > span {
    display: block;
}

/*定制游*/

.bg-dz {
    background: url(../img/bg_dz.jpg) center top / cover;
    padding: 80px;
}

.bg-dz .iphone {
    width: 363px;
    height: 602px;
    padding-top: 134px;
    padding-left: 35px;
    padding-right: 30px;
    background: url(../img/bg_dz_iphone.png) no-repeat;
}

.bg-dz .iphone .input-group-addon + input {
    border-left: none;
}

/*攻略列表*/
.page-list-box {
    color: #FFFFFF;
}

.page-list-box a.position-relative {
    color: #FFFFFF;
    transition: color .3s;
}

.page-list-box a.position-relative:hover {
    color: #FF7800;
}

.page-list-box .position-absolute {
    left: 0;
    right: 0;
    top: 50px;
}

/*领队*/
.list-leader {
    line-height: 2;
}

.list-leader h4 {
    border-left: 3px solid #FF9900;
    padding-left: 15px;
}

.list-leader a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: all .5s;
}

.show-leader {
    height: 500px;
    overflow: hidden;
}

.bg-leader {
    background-position: center top;
    background-size: cover;
    filter: blur(15px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.show-leader .avatar {
    margin-top: 160px;
    margin-bottom: 100px;
    display: inline-block;
}

.show-leader .avatar > img {
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
}

.show-leader .avatar > span {
    right: 0;
    bottom: 0;
}

/*视频列表*/
.list-video .title-video a,
.list-video .title-video-subtitle a {
    margin-right: 15px;
}

.list-video .title-video .active,
.list-video .title-video-subtitle .active {
    color: #FF9900;
}

.list-video .box {
    padding: 0 5px;
}

.list-video .box h5 {
    border-left: 2px solid #FF9900;
    padding-left: 14px;
}

.list-video .box i.position-absolute {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #FFFFFF;
    opacity: .5;
    transition: opacity .3s;
}

.list-video .box:hover i.position-absolute {
    opacity: 1;
}