<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Leader</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/css.css">
    <script src="js/bing.js"></script>
</head>
<body>
<header class="bg-white">
    <div class="container">
        <nav class="navbar navbar-expand navbar-light top-nav">
            <a class="navbar-brand" href="#">
                <img src="img/logo_top.png" width="148" height="50" alt="top_logo">
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        旅行
                    </a>
                    <div class="dropdown-menu rounded-0 other-down">
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-map-marker"></i> 纵横西部</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-paw"></i> 西行漫游</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-photo"></i> 超级周末</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-institution"></i> 最6旅行</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">定制游</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">活动</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">攻略</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">游记</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">大咖领路</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">旅拍直播</a>
                </li>
            </ul>
            <form class="form-inline mr-4 top-search">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn dropdown-toggle down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            四川
                        </button>
                        <div class="dropdown-menu rounded-0 other-down no-line">
                            <a class="dropdown-item" href="#">不限</a>
                            <a class="dropdown-item" href="#">四川</a>
                            <a class="dropdown-item" href="#">青海</a>
                            <a class="dropdown-item" href="#">西藏</a>
                            <a class="dropdown-item" href="#">新疆</a>
                            <a class="dropdown-item" href="#">内蒙古</a>
                            <a class="dropdown-item" href="#">陕甘宁</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="搜目的地/攻略/游记" style="border-right: none">
                    <button type="submit" class="input-group-addon submit"><i class="fa fa-search text-warning fa-lg"></i></button>
                </div>
            </form>
            <div class="user-info">
                <!--<a href="auth/login.html" class="text-warning">登录</a> | <a href="auth/register.html" class="text-warning">注册</a>-->

                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                    <img class="rounded-circle" src="https://vuejs.bootcss.com/images/logo.png" alt="头像" width="36" height="36"> Bing8u...
                </div>
                <div class="dropdown">
                    <div class="dropdown-menu rounded-0 other-down">
                        <a class="dropdown-item" href="home/setting.html"><i class="fa fa-fw fa-user"></i> 个人中心</a>
                        <a class="dropdown-item" href="home/order.html"><i class="fa fa-fw fa-list-alt"></i> 我的订单</a>
                        <a class="dropdown-item" href="home/home.html"><i class="fa fa-fw fa-book"></i> 我的游记</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="position-relative show-leader">
    <div class="bg-leader text-hide position-absolute" style="background-image: url(uploads/leader.jpg);"></div>
    <div class="container text-center">
        <div class="avatar position-relative">
            <img class="rounded-circle" src="uploads/leader_avatar.jpg" alt="leader_avatar" width="120" height="120">
            <span class="fa-stack fa-lg position-absolute">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-venus fa-stack-1x fa-inverse"></i>

                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-mars fa-stack-1x fa-inverse"></i>-->
            </span>
        </div>
        <div class="m-auto w-50 text-white">“因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧”</div>
    </div>
</div>

<div class="container">
    <div class="py-4"><a href="index.html">首页</a> &gt; <a href="#">大咖领路</a> &gt; <span class="text-warning">领队详情</span></div>
</div>

<div class="container list-leader">
    <div class="bg-white p-5 ">
        <div class="media">
            <img class="mr-5" src="uploads/leader_avatar.jpg" alt="leader_avatar" width="200" height="200">
            <div class="media-body">
                <h4 class="text-warning">橘子</h4>
                <p class="text-warning text-justify"><span class="mr-2"><i class="fa fa-map-marker"></i> 四川</span> 成都</p>
                <div class="small text-muted">从业十六年，多次带队走过全国三十余省，经历了旅游由量变到质变的过程、坚守为客户提供最佳的旅行方案，回归真正的旅行。 生活不应该模式化，所以试着出发去感受外面世界的真实，你会发现生活还可以这样，任何问题都不是问题，和途驴一起我们在路上。从业十六年，多次带队走过全国三十余省，经历了旅游由量变到质变的过程、坚守为客户提供最佳的旅行方案，回归真正的旅行。 生活不应该模式化，所以试着出发去感受外面世界的真实，你会发现生活还可以这样，任何问题都不是问题，和途驴一起我们在路上。</div>
            </div>
        </div>
    </div>

    <div class="d-flex my-5">
        <div style="color: #CCCCCC;"><i class="fa fa-quote-left fa-3x fa-pull-left"></i></div>
        <div class="text-justify text-muted">
            因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。
            <br>因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。因为一直在路上，生活才充满阳光。厌倦了每天的重复生活，想逃开，想放下，世界阔达，那让我们即刻出发吧。
        </div>
        <div style="color: #CCCCCC;" class="align-self-end"><i class="fa fa-quote-right fa-3x fa-pull-right"></i></div>
    </div>
</div>

<div class="container mb-5">
    <div id="leader" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-4"><img class="d-block w-100" src="uploads/leader_photos.jpg" alt="First slide"></div>
                    <div class="col-4"><img class="d-block w-100" src="uploads/leader_photos.jpg" alt="First slide"></div>
                    <div class="col-4"><img class="d-block w-100" src="uploads/leader_photos.jpg" alt="First slide"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4"><img class="d-block w-100" src="uploads/leader_photos.jpg" alt="First slide"></div>
                    <div class="col-4"><img class="d-block w-100" src="uploads/leader_photos.jpg" alt="First slide"></div>
                    <div class="col-4"><img class="d-block w-100" src="uploads/leader_photos.jpg" alt="First slide"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#leader" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#leader" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <div class="bg-white p-5">
        <h3 class="text-warning mb-4"><i class="fa fa-fw fa-flag-o"></i> TA领队的活动</h3>
        <div class="row">
            <div class="col">
                <div class="card">
                    <a href=""><img class="card-img-top" src="uploads/goods_like_1.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <p><a href="#" class="card-title">泰国普吉岛7晚5日游(2晚离岛蓝湾泳池别墅暑期超值...</a></p>
                        <p class="card-text">
                            <span class="text-danger lead">¥3600</span>
                            <small>起</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href=""><img class="card-img-top" src="uploads/goods_like_1.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <p><a href="#" class="card-title">泰国普吉岛7晚5日游(2晚离岛蓝湾泳池别墅暑期超值...</a></p>
                        <p class="card-text">
                            <span class="text-danger lead">¥3600</span>
                            <small>起</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href=""><img class="card-img-top" src="uploads/goods_like_1.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <p><a href="#" class="card-title">泰国普吉岛7晚5日游(2晚离岛蓝湾泳池别墅暑期超值...</a></p>
                        <p class="card-text">
                            <span class="text-danger lead">¥3600</span>
                            <small>起</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href=""><img class="card-img-top" src="uploads/goods_like_1.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <p><a href="#" class="card-title">泰国普吉岛7晚5日游(2晚离岛蓝湾泳池别墅暑期超值...</a></p>
                        <p class="card-text">
                            <span class="text-danger lead">¥3600</span>
                            <small>起</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-4 text-center">
            <a href="#" class="btn btn-outline-warning">更多活动</a>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <nav class="nav nav-justified">
            <a class="nav-item nav-link" href="#">首页</a>
            <a class="nav-item nav-link active" href="#">纵横西部</a>
            <a class="nav-item nav-link" href="#">西行漫游</a>
            <a class="nav-item nav-link" href="#">超级周末</a>
            <a class="nav-item nav-link" href="#">最6旅行</a>
            <a class="nav-item nav-link" href="#">定制旅行</a>
            <a class="nav-item nav-link" href="#">超级攻略</a>
            <a class="nav-item nav-link" href="#">精彩游记</a>
            <a class="nav-item nav-link" href="#">大咖领路</a>
        </nav>
        <hr>
        <div class="row py-4 links">
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <h6>活动报名流程</h6>
                        <a href="#">报名须知</a>
                        <a href="#">网上报名信息修改</a>
                        <a href="#">网上报名流程及状态</a>
                        <a href="#">报名方式</a>
                        <a href="#">网上报名费用支付问题</a>
                    </div>
                    <div class="col-3">
                        <h6>预订常见问题</h6>
                        <a href="#">遇到恶劣天气是否取消？遇到恶劣天气是否取消遇到恶劣天气是否取消遇到恶劣天气是否取消</a>
                        <a href="#">必须填写身份证吗？</a>
                        <a href="#">独立成团可以吗？</a>
                        <a href="#">什么是单房差？</a>
                        <a href="#">纯玩是什么意思？</a>
                    </div>
                    <div class="col-3">
                        <h6>网站条款</h6>
                        <a href="#">网站免责声明</a>
                        <a href="#">网站用户协议</a>
                        <a href="#">网站版权说明</a>
                        <a href="#">签订旅游合同</a>
                    </div>
                    <div class="col-3">
                        <h6>付款和发票</h6>
                        <a href="#">付款流程</a>
                        <a href="#">三种付款方式</a>
                        <a href="#">发票相关问题</a>
                        <a href="#">如何支付尾款</a>
                        <a href="#">退款付款说明</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <img src="img/logo_footer.png" alt="logo_footer" width="170" height="56">
                        <h4 class="text-center">400-3455-456</h4>
                        <span class="btn btn-warning btn-block text-white">在线咨询</span>
                    </div>
                    <div class="col text-center">
                        <img src="img/weixin.jpg" alt="weixin" width="114" height="114">
                        <br>关注遇途记公众号
                    </div>
                </div>
            </div>
        </div>
        <div class="about text-center">
            <p>
                <a href="#">关于我们</a>
                <a href="#">人才招聘</a>
                <a href="#">帮助中心</a>
                <a href="#">网站地图</a>
                <a href="#">商务洽谈</a>
                <a href="#">营业执照</a>
            </p>
            <hr>
            <p>蜀ICP备16031541号-3</p>
        </div>
    </div>
</footer>
<aside class="position-fixed side-right">
    <div class="mb-1 text-center">
        <span class="d-block" data-toggle="popover" data-placement="left" data-trigger="hover" data-html="true" data-content="<p class='mb-0 text-center'>客服电话</p><b>400-3455-456</b>">
            <i class="fa fa-fw fa-3x text-white fa-phone"></i>
        </span>
        <span class="d-block swt">
            <i class="fa fa-fw fa-3x text-white fa-commenting"></i>
        </span>
        <span class="d-block" data-toggle="popover" data-placement="left" data-trigger="hover" data-html="true" data-content="<p class='mb-1'><img src='img/aside_weixin.png' width='158' height='158'></p><h5 class='text-center m-0'>关注遇途记</h5>更多优惠好玩旅行等你来">
            <i class="fa fa-fw fa-3x text-white fa-qrcode"></i>
        </span>
    </div>
    <div class="top text-center">
        <i class="fa fa-fw fa-3x text-white fa-angle-up"></i>
    </div>
</aside>
<link href="https://cdn.bootcss.com/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<script>
    (function ($) {
        // 筛选 显示更多
        $('.list-param span').click(function () {
            $(this).children().toggleClass('fa-flip-vertical')
            $(this).parent().prev().toggleClass('text-truncate')
        })

        // 排序
        $('.list-orderBy a').click(function () {
            $(this).closest('.nav').find('a').removeClass('active')
            $(this).addClass('active')
            let fa = $(this).children()
            if (fa.css('opacity') === '1') {
                fa.toggleClass('fa-flip-vertical')
            }
        })

        // 显示发团日期
        $('a.btn-fatuan').click(function () {
            $(this).children().toggleClass('fa-flip-vertical')
            $(this).closest('div').find('.list-fatuan').toggleClass('d-none').mCustomScrollbar()
        })
    })(jQuery);
</script>
</body>
</html>