<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>写游记</title>
    <link rel="stylesheet" href="../fontawesome/css/fontawesome-all.css">
    <script src="../../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script src="../../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="../css/m.css">
    <script src="../../../../public/m/js/bing.js"></script>
</head>
<body>
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>写游记</span>
        <div>
            <a href="../auth/login.html" class="text-warning">
                <i class="fa fa-fw fa-user"></i>
                <!--<img class="rounded-circle" src="img/avatar.png" alt="avatar" width="22" height="22">-->
            </a>
            <a href="#menu" class="text-warning" data-toggle="collapse">
                <i class="fa fa-fw fa-align-justify"></i>
            </a>
        </div>
    </div>
</header>

<nav class="collapse font-weight-light position-absolute" id="menu">
    <a href="#">纵横西部</a>
    <a href="#">微上西部</a>
    <a href="#">超级周末</a>
    <a href="#">最6旅行</a>
    <a href="#">定制游</a>
    <a href="#">活动</a>
    <a href="#">攻略</a>
    <a href="#">游记</a>
    <a href="#">大咖领路</a>
    <a href="#">旅拍直播</a>
    <a href="#">关于我们</a>
</nav>

<div class="container-fluid mt-5 py-3">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入游记标题">
        </div>
        <div class="form-group">
            <p><img class="img-thumbnail d-none showImage w-100" alt="缩略图"></p>
            <label class="custom-file">
                <input id="thumb" name="thumb" class="custom-file-input" type="file">
                <span class="custom-file-control text-muted">选择游记封面</span>
            </label>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="游记摘要也很重要…"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="10" placeholder="请输入游记正文"></textarea>
        </div>
        <div class="row">
            <span class="col">
                <button class="btn btn-warning btn-sm btn-block">确认发表</button>
            </span>
            <span class="col">
                <button class="btn btn-outline-warning btn-sm btn-block">保存草稿</button>
           </span>
        </div>
    </form>
</div>
</body>
</html>