<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>设置中心</title>
    <link rel="stylesheet" href="../fontawesome/css/fontawesome-all.css">
    <script src="../../../../public/m/js/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../../../../public/m/js/bootstrap.bundle.js"></script>
    <script src="../../../../public/m/js/holder.min.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script src="../../../../public/m/js/sweetalert.min.js"></script>

    <link rel="stylesheet" href="../css/m.css">
    <script src="../../../../public/m/js/bing.js"></script>
</head>
<body>
<!--
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>个人简介</span>
        <span>完成</span>
    </div>
</header>
<div class="mt-5 p-4">
    <textarea class="form-control" rows="5" placeholder="一段话介绍你自己，50字以内"></textarea>
</div>
-->

<!--
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>个人昵称</span>
        <span>完成</span>
    </div>
</header>
<div class="mt-5 p-4">
    <input class="form-control" placeholder="个人昵称">
</div>
-->

<!--
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>性别</span>
        <span>完成</span>
    </div>
</header>
<div class="mt-5 px-3">
    <form>
        <label class="d-flex justify-content-between m-0 py-3">
            男
            <input type="radio" name="sex" value="M">
        </label>
        <hr class="m-0">
        <label class="d-flex justify-content-between mb-0 py-3">
            女
            <input type="radio" name="sex" value="F">
        </label>
    </form>
</div>
-->

<!--
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>修改绑定手机</span>
        <span>&nbsp;</span>
    </div>
</header>
<div class="container-fluid mt-5 pt-3">
    <form>
        <div class="form-group">
            <input type="tel" class="form-control" placeholder="请输入手机号">
        </div>
        <div class="form-group position-relative">
            <input type="text" class="form-control" placeholder="请输入验证码">
            <span class="btn-sm btn-warning position-absolute px-3" style="right: 5px; top: 5px;">获取验证码</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-warning">确认</button>
        </div>
        <div class="form-group pb-2">
            <span class="text-danger"><i class="fa fa-fw fa-info-circle"></i>手机号输入错误。</span>
        </div>
    </form>
</div>
-->

<!--
<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>修改密码</span>
        <span>完成</span>
    </div>
</header>
<div class="container-fluid mt-5 pt-3">
    <form>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入原密码">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入新密码">
        </div>
        <div class="form-group position-relative">
            <input type="text" class="form-control" placeholder="请输入验证码">
            <span class="btn-sm btn-warning position-absolute px-3" style="right: 5px; top: 5px;">获取短信验证码</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-warning">确认</button>
        </div>
        <div class="form-group pb-2">
            <span class="text-danger"><i class="fa fa-fw fa-info-circle"></i>验证码输入错误。</span>
        </div>
    </form>
</div>
-->

<header class="position-absolute bg-white">
    <div class="text-warning d-flex justify-content-between">
        <span onclick="history.back();"><i class="fas fa-lg fa-angle-left"></i></span>
        <span>城市</span>
        <span>完成</span>
    </div>
</header>
<div class="container-fluid mt-5 pt-3">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="如：四川">
        </div>
        <div class="form-group position-relative">
            <input type="text" class="form-control" placeholder="如：成都">
        </div>
    </form>
    <!--重做，mui中插件-->
</div>
</body>
</html>