header {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.btn-warning {
    color: #ffffff;
}

.text-warning {
    color: #FF9900 !important;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, .6);
    border-radius: 50%;
}

.carousel-indicators li.active {
    background: #FF9900;
}

header.position-absolute {
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

header.position-absolute:not(.bg-white) {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.1));
}

header.position-absolute a {
    color: #ffffff;
}

nav#menu {
    background-color: rgba(79, 104, 128, .8);
    padding: 10px;
    left: 0;
    top: 50px;
    right: 0;
    z-index: 8;
}

nav#menu > a {
    width: 33.333%;
    color: #ffffff;
    display: block;
    float: left;
    padding: 2px 0 2px 25px;
    font-size: 13px;
}

section#index-nav {
    z-index: 6;
    left: 0;
    top: 56%;
    right: 0;
}

section#index-nav > a {
    float: left;
    width: 20%;
    color: #ffffff;
}

section#index-nav > a > img {
    width: 44px;
    height: 44px;
    display: block;
    margin: 5px auto;
}

#index-search {
    left: 0;
    right: 0;
    top: 50px;
    z-index: 7;
    padding: 10px;
}

.bg-none {
    background-color: transparent !important;
}

.index-search-btn {
    border: 1px solid #dddddd;
    border-right: none;
    color: #eeeeee;
}

.index-q:focus,
.index-q {
    border-right: none;
    border-left: none;
    color: #eeeeee;
}

.top-border {
    border-top: 3px solid #dddddd;
}

.slide-two .carousel-caption {
    text-align: left;
    left: 20px;
    right: 20px;
    bottom: 10px;
    padding: 0;
}

.slide-two .carousel-caption > h5 {
    border-left: 3px solid #FFF;
    margin-bottom: 0;
    padding-left: 12px;
}

.slide-two .btn-see {
    right: 20px;
    bottom: 10px;
    z-index: 10;
}

.slide-two .carousel-control-prev,
.slide-two .carousel-control-next {
    width: 40px;
}

.nav-two .nav-link {
    color: #666e76;
}

.nav-two .nav-link.active {
    color: #ff9900;
    border-bottom: 2px solid #ff9900;
    margin-bottom: -2px;
}

.jc-zq .position-absolute {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 15px;
}

footer a {
    color: #666666;
}

footer > .nav a {
    padding: .5rem;
}

.return-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#screen .btn-light {
    border: 2px solid transparent;
    background-color: #eeeeee;
    width: calc(25% - 4px);
    font-size: 12px;
    color: #666666;
    padding: 3px;
}

#screen .btn-light.w-50 {
    width: calc(50% - 4px) !important;
}

#screen .btn-light.active {
    border: 2px solid #FF9900;
    background-color: #FFFFFF;
}

.a-list > a {
    color: #666666;
    text-decoration: none;
}

.a-list h6 {
    border-left: 2px solid #FF9900;
    padding-left: .5rem;
    margin-left: -0.5rem;
    width: calc(100% - 70px);
}

.a-list small.position-absolute {
    right: 15px;
    top: 164px;
}

.a-list p.position-absolute {
    left: 15px;
    bottom: 100px;
}

.left-border-orange {
    border-left: 3px solid #FF9900;
    padding-left: calc(1rem - 3px);
}

.xcap {
    border-left: 1px solid #FF9900;
    padding-left: calc(1rem - 1px);;
    position: relative;
    padding-bottom: 1.25rem;
}

.xcap > svg.position-absolute,
.xcap > i.position-absolute {
    position: absolute;
    left: -7px;
    top: 0;
    background: #FFFFFF;
}

.activity-bottom {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #FFFFFF;
}

.activity-bottom a {
    color: #666666;
}

.order-form > .num-info > div {
    left: 0;
    top: 0;
    right: 0;
}

.order-form > .num-info .num {
    background: url(../img/bg_num_user.png) no-repeat;
    width: 167px;
    height: 35px;
    padding-left: 25px;
    line-height: 35px;
}

.order-form label {
    margin-bottom: 0;
}

.nav-raider a.nav-link {
    color: #666666;
    padding: 0 .5rem;
}

.nav-raider a.nav-link.active {
    color: #FF9900;
}

.div-body img {
    max-width: 100%;
    height: auto !important;
}

a.media {
    text-decoration: none;
    transition: background-color .3s;
}

.show-leader {
    height: 310px;
    overflow: hidden;
}

.bg-leader {
    background-position: center top;
    background-size: cover;
    filter: blur(15px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.show-leader .avatar {
    margin-top: 90px;
    margin-bottom: 30px;
    display: inline-block;
}

.show-leader .avatar > img {
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.show-leader .avatar > span {
    right: 0;
    bottom: 5px;
}

.home-travels .card .btns {
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s
}

.home-travels .card:hover .btns {
    opacity: 1;
}

.home-travels .btn-dark {
    background: rgba(0, 0, 0, .3);
}

.home-travels .up {
    right: 10px;
    bottom: 10px;
}

.home-travels .card {
    border-radius: 0;
    border: none;
}

.search-item.active {
    background-color: transparent !important;
    color: #FF9900 !important;
}

.nav-search .nav-link {
    color: #666666;
    padding: 0.5rem 0;
}

.nav-search .nav-link.active {
    color: #FF9900;
    border-bottom: 2px solid #FF9900;
}

.nav-search .dropdown-menu {
    min-width: auto;
}

.nav-search .dropdown-item.active, .nav-search .dropdown-item:active {
    background-color: #f8f9fa;
    color: #FF9900;
}

i.unread {
    top: 0;
    left: 25px;
    background: #ff624d;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
}

.home-setting {
    background-color: #efeff4;
}

.home-setting .list-group-item {
    border-left: none;
    border-right: none;
    border-radius: unset;
}

.page-item .page-link {
    color: #666666;
}

.page-item.active .page-link {
    background-color: #FF9900;
    border-color: #FF9900;
}

#tuan-list > .list-group-item.active {
    border-color: #ffc107;
    background-color: #ffc107;
}