<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/css.css">
</head>
<body>
<div class="bg-forgot position-fixed" id="app">
    <div class="panel-login position-fixed">
        <p class="text-center"><img src="../img/logo_login.png" alt="logo_login"></p>
        <form class="position-relative" v-on:submit.prevent="onSubmit">
            <transition name="fade">
                <div class="position-absolute text-danger error" v-if="error">
                    <i class="fa fa-info-circle"></i> {{ errMsg }}
                </div>
            </transition>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入手机号" v-model="tel">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入验证码" v-model="code">
                    <span class="input-group-addon" style="font-size: 13px; cursor: pointer;" @click="getCode">免费获取验证码</span>
                </div>
            </div>
            <button type="submit" class="btn btn-warning btn-block text-white">下一步</button>
        </form>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            error: false,
            errMsg: '',
            tel: '',
            code: ''
        },
        methods: {
            onSubmit() {
                if (this.checkTel() && this.checkCode()) {
                    this.resetError()
                    alert('找回密码操作')
                }
            },
            resetError() {
                this.error = false
                this.errMsg = ''
            },
            checkTel() {
                if (this.tel.length === 0) {
                    this.error = true
                    this.errMsg = '请输入手机号码'
                    return false
                }
                let reg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                if (!register.test(this.tel)) {
                    this.error = true
                    this.errMsg = '请输入有效的手机号码'
                    return false;
                }
                return true
            },
            checkCode() {
                if (this.code.length === 0) {
                    this.error = true
                    this.errMsg = '请输入密码'
                    return false
                }
                if (this.code.length < 6) {
                    this.error = true
                    this.errMsg = '请输入至少6位密码'
                    return false
                }
                return true
            },
            getCode() {
                if (this.checkTel()) {
                    this.resetError()
                    alert('发送验证码...')
                }
            }
        }
    })
</script>
</body>
</html>